---
const { title, description } = Astro.props
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p class="copyright">
        看（kàn）好鸟 · 看（kān）好鸟
      </p>
      <p>欢迎投稿：twitcher@aliyun.com</p>
      </section>
      <section>
        <ul class="icons">
          <li>
            <a href="#" class="icon brands fa-weixin" aria-label="Social">
              <span class="label">Weixin</span>
            </a>
          </li>
          <li>
            <a href="#" class="icon brands fa-weibo" aria-label="Social">
              <span class="label">Weibo</span>
            </a>
          </li>
        </ul>
      </section>
      <p class="copyright">
        &copy; Twitcher.cn
      </p>
    </div>
    <div>
      <section>
        <h2>关注我们</h2>
        <img src='images/qr code.jpg' alt="QR code" width="411" height="150">
      </section>
    </div>
  </div>
</footer>
